:root{
    --main-color: #E7BC0B;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* ====common code start====  */
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ====common code end====  */

/* ====nav-inner code start====  */
.navbar{
    position: relative;
    background: rgba(0, 0, 0, .1);
}
.navbar::after{
    position: absolute;
    content: '';
    top: 0;
    right: 20%;
    width: 40%;
    height: 100%;
    background: #E7BC0B;
    z-index: -10;
    transform: skewX(-25deg);
}
.navbar::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0%;
    width: 37%;
    height: 100%;
    background: #E7BC0B;
    z-index: -1;
}
/* brand logo code  */
.navbar .navbar-brand span{
    color: #666;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    transition: .5s all;
}
.navbar .navbar-brand span:hover{
    color: #E7BC0B;
}
/* navbar socials-link code  */
.navbar .socials-link{
    visibility: hidden;
}
.navbar .socials-link a{
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: .5s linear all;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .socials-link a:hover{
    background: #fff;
    color: var(--main-color);
}
.navbar .nav-link {
    color: #fff;
    transition: .5s all;
}
.navbar .nav-link:focus, .nav-link:hover {
    color: var(--bs-nav-link-hover-color);
}
/* toggler code start  */
.navbar .navbar-toggler{
    color: rgba(255, 255, 255, .7);
    border-color: rgba(255, 255, 255, .3);
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
/* medium device bg-style code  */
@media (max-width:991px) {
    .navbar>.container{
        flex-direction: row-reverse;
    }
    .navbar .socials-link{
        visibility: visible;
    }
    .navbar .nav-link {
        text-transform: uppercase;
        letter-spacing: .05em;
        text-transform: uppercase;
        padding: 6px 0px;
        padding-right: 10px;
    }
    .navbar .nav-link:hover {
        color: var(--bs-nav-link-hover-color);
        background: #E5E5E5;
    }
}
/* small device bg style code  */
@media (max-width: 465px) {
    .navbar>.container{
        flex-direction: row-reverse;
    }
    .navbar .socials-link{
        visibility: visible;
    }
    .navbar .navbar::before{
        position: absolute;
        content: '';
        top: 0;
        right: 0%;
        width: 50%;
        height: 100%;
        background: #E7BC0B;
        z-index: -1;
    }
    .navbar::after{
        visibility: hidden;
    }
}
/* ====nav-inner code end====*/

/* ====header section code start====  */
header{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../image/cover.jpg)no-repeat;
    background-size: cover;
}
/* type-text code  */
header .type-text{
    position: relative;
}
header .type-text h2{
    color: rgb(230, 230, 230);
    font-size: 1.8rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
header .type-text h2 span{
    position: relative;
    overflow: hidden;
    color: transparent;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    font-weight: 700;
    /* -webkit-text-stroke: 1.5px #7e5d21; */
    letter-spacing: 0.001em;
    display: flex;
    justify-content: center;
}
header .type-text p{
    color: rgb(230, 230, 230);
    font-size: 1.5rem;
    line-height: 1;
    text-transform: capitalize;
}
header .type-text span::before{
    position: absolute;
    content: attr(text);
    top: 0;
    left: 20%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    color: #E7BC0B;
    border-right: 4px solid rgb(230, 230, 230);
    white-space: nowrap;
    /* -webkit-text-stroke: 1.5px transparent; */
    animation: type 5s linear forwards infinite;
}
header .type-text a{
    display: inline-block;
    margin: 30px;
    padding: 15px 35px;
    background: #E7BC0B;
    color: #333;
    font-weight: 500;
    font-size: 1.2rem;
    transition: .5s all;
    border: 1px solid transparent;
}
header .type-text a:hover{
    color: #E7BC0B;
    background: transparent;
    border: 1px solid #E7BC0B;
}
/* scroll icon animation  */
header .type-text i{
    position: absolute;
    bottom: -20%;
    left: 50%;
    color: #fff;
    font-size: 1.5rem;
    padding: 5px;
    background-color: rgba(188, 206, 26, 0.2);
    animation: scroll-down 2s linear infinite;
}
@keyframes scroll-down{
    0%{
        bottom: -20%;
    }
    100%{
        bottom: -30%;
    }
}
/* type-text animation code  */
@keyframes type{
    0%{
        width: 0;
    }
    100%{
        width: 61.5%;
    }
}
/* Responsive devices screen code  */
@media (max-width: 490px) {
    header .type-text h2{
        font-size: 1rem;
    }
    header .type-text h2 span{
        font-size: 2rem;
    }
    header .type-text p{
        font-size: .9rem;
    }
    header .type-text a{
        font-size: .9rem;
        padding: 8px 16px;
    }
    header .type-text i{
        font-size: 14px;
    }
    @keyframes type{
        0%{
            width: 0%;
        }
        100%{
            /* left: 0; */
            width: 75%;
        }
    }
}
/* medium device screen code  */
@media (min-width:491px) and (max-width: 760px) {
    header .type-text h2{
        font-size: 1rem;
    }
    header .type-text h2 span{
        font-size: 2rem;
    }
    header .type-text p{
        font-size: .9rem;
    }
    header .type-text a{
        font-size: .9rem;
        padding: 8px 16px;
    }
    header .type-text i{
        font-size: 14px;
    }
    @keyframes type{
        0%{
            width: 0%;
        }
        100%{
            /* left: 0; */
            width: 67%;
        }
    }
}
/* large device screen code  */
@media (min-width:761px) and (max-width: 990px) {
    header .type-text h2{
        font-size: 1.2rem;
    }
    header .type-text h2 span{
        font-size: 2.5rem;
    }
    header .type-text p{
        font-size: 1rem;
    }
    header .type-text a{
        font-size: 1rem;
        padding: 10px 20px;
    }
    header .type-text i{
        font-size: 16px;
    }
    @keyframes type{
        0%{
            width: 0%;
        }
        100%{
            /* left: 0; */
            width: 62%;
        }
    }
}
/* Extra large screen device code  */
@media (min-width:991px) and (max-width: 1190px) {
    @keyframes type{
        0%{
            width: 0%;
        }
        100%{
            /* left: 0; */
            width: 76%;
        }
    }
}
/* ====header section code end====  */

/* ====about section code start====  */

/* about  section title code start  */
.about .title h3{
    display: inline-block;
    background: #E7BC0B;
    color: #333;
    padding: 5px 10px;
    font-size: 1rem;
}
.about .title h2{
    color: #333;
    font-size: 2rem;
}
/* about-content code start  */
.about .about-content h3{
    color: #333;
    font-size: 2rem;
    font-weight: 400;
}
.about .about-content span{
    display: inline-block;
    color: #222;
    font-weight: 700;
    border-bottom: 2px solid #E7BC0B;
}
.about .about-content p{
    font-size: 18px;
    color: #666;
    margin-top: 20px;
    line-height: 2;
}
/* experience code start  */
.about .experience h2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    color: #444;
}
.about .experience h2::after{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background: #E7BC0B;
    border-radius: 50%;
    z-index: -1;
}
.about .experience h3{
    color: #333;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}
.about .experience span{
    display: inline-block;
    color: #222;
    font-weight: 600;
}
/* small devices screen ratio code  */
@media (max-width:991px) {
    .about .about-content h3{
        text-align: center;
    }
    .about .about-content p{
        text-align: center;
    }
}
/* about details code start  */
.about .details span{
    color: #666;
    font-size: 1rem;
    font-weight: 500;
}
.about .details p{
    color: #333;
    font-size: 1rem;
    font-weight: 600;
}
.about .details a{
    display: inline-block;
    overflow: hidden;
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: underline;
    transition: .5s all;
}
.about .details a:hover{
    text-decoration: none;
}
/* ====about section code end====  */

/* ====support section code start====  */
/* support  section title code start  */
.support{
    background-color: #f8f9fa;
}
.support .title h3{
    display: inline-block;
    background: #E7BC0B;
    color: #333;
    padding: 5px 10px;
    font-size: 1rem;
}
.support .title h2{
    color: #333;
    font-size: 2rem;
}
/* support-content-block code start  */
.support .support-content-block span i{
    display: inline-block;
    font-size: 4rem;
    color: #E7BC0B;
    margin-bottom: 1rem;
    transition: .5s all;
}
.support .support-content-block h2{
    font-size: 1.6rem;
    margin-bottom: 10px 0;
    color: #333;
}
.support .support-content-block h2 span{
    color: #0be70b;
}
.support .support-content-block p{
    color: #444;
    font-size: 1.1rem;
    text-align: justify;
}
.support .support-content-block{
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2rem 1.5rem 1rem 1.5rem;
    margin-bottom: 1.5rem;
    transform: scale(1);
    transition: .5s linear all;
}
.support .support-content-block:hover{
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px #999,
    0 0 10px #999;
    transform: scale(1.05);
}
/* ====support section code end====  */

/* ====Resume section code start====  */
/* support  section title code start  */
.resume .title h3{
    display: inline-block;
    background: #E7BC0B;
    color: #333;
    padding: 5px 10px;
    font-size: 1rem;
}
.resume .title h2{
    color: #333;
    font-size: 2rem;
}
/* education-block code start  */
.resume .education-body{
    position: relative;
}
.resume .education-body::before{
    position: absolute;
    content: '';
    width: 3px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #E7BC0B;
}
.resume .education-body p{
    color: #666;
}
/* experiance block code start  */
.resume .experiance-body{
    position: relative;
}
.resume .experiance-body::before{
    position: absolute;
    content: '';
    width: 3px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #E7BC0B;
}
.resume .experiance-body p{
    color: #666;
}
/* progress bar code start  */
.resume .skill-block .progress-bar{
    margin-top: 20px;
    background-color: #272822;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.resume .skill-block .progress-bar .percent .circle{
    position: relative;
    width: 150px;
    height: 150px;
}
.resume .skill-block .progress-bar .percent .circle .dot{
    position: absolute;
    background-color: transparent;
    inset: 15px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    animation: dott 2s linear forwards ;
}
.resume .skill-block .progress-bar .percent .circle .dot::before{
    position: absolute;
    content: '';
    top: -15px;
    left: 50%;
    width: 100%;
    height: 100%;
    background: var(--clr);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr);
}
/* progress-bar text code  */

@keyframes dott{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var (--num)));
    }
}
.resume .skill-block .progress-bar .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
.resume .skill-block .progress-bar .percent svg circle{
    position: relative;
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #999;
    stroke-width: 4;
    transform: translate(5px,5px);
}
.resume .skill-block .progress-bar .percent svg circle:last-child{
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    stroke-linecap: round;
    opacity: 0;
    animation: fadein 1s linear forwards ;
    animation-delay: 2s;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* .progress-bar text code  */
.resume .skill-block .progress-bar .text{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    animation: fadein 1s linear forwards ;
    animation-delay: 2s;
}
.resume .skill-block .progress-bar .text h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
}
.resume .skill-block .progress-bar .text h3 span{
    font-size: 0.5em;
    font-weight: 300;
    color: #E5E5E5;
    margin-left: 0;
    padding-left: 0;
}
.resume .skill-block .progress-bar .text p{
    color: #E5E5E5;
    font-size: .8rem;
    line-height: 0;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
}
/* ====Resume section code end====  */

/* ====portfolio section start====  */
.portfolio{
    background: #f8f9fa;
}
.portfolio .title h3{
    display: inline-block;
    background: #E7BC0B;
    color: #333;
    padding: 5px 10px;
    font-size: 1rem;
}
.portfolio .title h2{
    color: #333;
    font-size: 2rem;
}
/* ====portfolio section start====  */