:root{
    --main-color: #E7BC0B;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* ====common code start====  */
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ====common code end====  */

/* ====nav-inner code start====  */
.navbar{
    position: relative;
    background: rgba(0, 0, 0, .1);
}
.navbar::after{
    position: absolute;
    content: '';
    top: 0;
    right: 20%;
    width: 40%;
    height: 100%;
    background: #E7BC0B;
    z-index: -10;
    transform: skewX(-25deg);
}
.navbar::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0%;
    width: 37%;
    height: 100%;
    background: #E7BC0B;
    z-index: -1;
}
/* brand logo code  */
.navbar .navbar-brand span{
    color: #666;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    transition: .5s all;
}
.navbar .navbar-brand span:hover{
    color: #E7BC0B;
}
/* navbar socials-link code  */
.navbar .socials-link{
    visibility: hidden;
}
.navbar .socials-link a{
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: .5s linear all;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .socials-link a:hover{
    background: #fff;
    color: var(--main-color);
}
.navbar .nav-link {
    color: #fff;
    transition: .5s all;
}
.navbar .nav-link:focus, .nav-link:hover {
    color: var(--bs-nav-link-hover-color);
}
/* toggler code start  */
.navbar .navbar-toggler{
    color: rgba(255, 255, 255, .7);
    border-color: rgba(255, 255, 255, .3);
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
/* medium device bg-style code  */
@media (max-width:991px) {
    .navbar>.container{
        flex-direction: row-reverse;
    }
    .navbar .socials-link{
        visibility: visible;
    }
    .navbar .nav-link {
        text-transform: uppercase;
        letter-spacing: .05em;
        text-transform: uppercase;
        padding: 6px 0px;
        padding-right: 10px;
    }
    .navbar .nav-link:hover {
        color: var(--bs-nav-link-hover-color);
        background: #E5E5E5;
    }
}
/* small device bg style code  */
@media (max-width: 465px) {
    .navbar>.container{
        flex-direction: row-reverse;
    }
    .navbar .socials-link{
        visibility: visible;
    }
    .navbar .navbar::before{
        position: absolute;
        content: '';
        top: 0;
        right: 0%;
        width: 50%;
        height: 100%;
        background: #E7BC0B;
        z-index: -1;
    }
    .navbar::after{
        visibility: hidden;
    }
}
/* ====nav-inner code end====*/

/* ====header section code start====  */
header{
    background: #afafaf;
}
header .header-content{
    position: relative;
    background: #fff;
    border-radius: 6px;
    box-shadow: 5px 5px 15px #333;
    cursor: pointer;
    transition: .5s all;
}
/* header content-inner title code start  */
header .content-inner .title{
    display: block;
    position: relative;
    margin-top: 5rem;
    padding-top: 3rem;
    padding-left: 2rem;
    z-index: 10;
}
header .content-inner .title::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 52%;
    height: 100%;
    background-color: #E7BC0B;
    z-index: -10;
}
header .content-inner .title::before{
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 6%;
    height: 50%;
    background-color: #000;
    z-index: -5;
}
header .content-inner .title h1{
    position: relative;
    padding-top: 3rem;
    font-size: 4rem;
    color: #000;
    font-weight: 500;
    line-height: .7;
    text-transform: uppercase;
}
header .content-inner .title span{
    display: block;
    font-size: 14px;
    line-height: 3;
    text-transform: capitalize;
}
/* .content-inner log code start  */
.log h6{
    display: block;
    margin: 0;
    padding: 0;
    color: #000;
    font-weight: 500;
    letter-spacing: .1em;
}
.log p{
    color: #777777;
    font-size: 14px;
    line-height: 1.5;
}
.log a{
    display: inline-block;
    color: #777777;
    font-size: 14px;
    line-height: 0;
    padding-bottom: 10px;
    transition: .5s all;
}
.log a:hover{
    color: rgb(116, 6, 66);
}
/* content-blog code start  */
header .content-inner .content-blog{
    padding-top: 5rem;
    padding-left: 2rem;
    display: block;
    position: relative;
    z-index: 10;
}
header .content-inner .content-blog::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E7BC0B;
    z-index: -10;
}
header .content-inner .content-blog::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 5%;
    height: 40%;
    background-color: #000;
    z-index: -5;
}
/* ====header section code end====  */