:root{
    --main-color: #E7BC0B;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* ====common code start====  */
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ====common code end====  */

/* ====nav-inner code start====  */
.navbar{
    position: relative;
    background: rgba(0, 0, 0, .1);
}
.navbar::after{
    position: absolute;
    content: '';
    top: 0;
    right: 20%;
    width: 40%;
    height: 100%;
    background: #E7BC0B;
    z-index: -10;
    transform: skewX(-25deg);
}
.navbar::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0%;
    width: 37%;
    height: 100%;
    background: #E7BC0B;
    z-index: -1;
}
/* brand logo code  */
.navbar .navbar-brand span{
    color: #666;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    transition: .5s all;
}
.navbar .navbar-brand span:hover{
    color: #E7BC0B;
}
/* navbar socials-link code  */
.navbar .socials-link{
    visibility: hidden;
}
.navbar .socials-link a{
    display: block;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: .5s linear all;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .socials-link a:hover{
    background: #fff;
    color: var(--main-color);
}
.navbar .nav-link {
    color: #fff;
    transition: .5s all;
}
.navbar .nav-link:focus, .nav-link:hover {
    color: var(--bs-nav-link-hover-color);
}
/* toggler code start  */
.navbar .navbar-toggler{
    color: rgba(255, 255, 255, .7);
    border-color: rgba(255, 255, 255, .3);
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
/* medium device bg-style code  */
@media (max-width:991px) {
    .navbar>.container{
        flex-direction: row-reverse;
    }
    .navbar .socials-link{
        visibility: visible;
    }
    .navbar .nav-link {
        text-transform: uppercase;
        letter-spacing: .05em;
        text-transform: uppercase;
        padding: 6px 0px;
        padding-right: 10px;
    }
    .navbar .nav-link:hover {
        color: var(--bs-nav-link-hover-color);
        background: #E5E5E5;
    }
}
/* small device bg style code  */
@media (max-width: 465px) {
    .navbar>.container{
        flex-direction: row-reverse;
    }
    .navbar .socials-link{
        visibility: visible;
    }
    .navbar .navbar::before{
        position: absolute;
        content: '';
        top: 0;
        right: 0%;
        width: 50%;
        height: 100%;
        background: #E7BC0B;
        z-index: -1;
    }
    .navbar::after{
        visibility: hidden;
    }
}
/* ====nav-inner code end====*/

/* ====header section code start====  */
header{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../image/cover.jpg)no-repeat;
    background-size: cover;
}
/* type-text code  */
header .type-text{
    position: relative;
}
header .type-text h2{
    color: rgb(230, 230, 230);
    font-size: 1.8rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
header .type-text h2 span{
    position: relative;
    overflow: hidden;
    color: transparent;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    font-weight: 700;
    /* -webkit-text-stroke: 1.5px #7e5d21; */
    letter-spacing: 0.001em;
    display: flex;
    justify-content: center;
}
header .type-text p{
    color: rgb(230, 230, 230);
    font-size: 1.5rem;
    line-height: 1;
    text-transform: capitalize;
}
header .type-text span::before{
    position: absolute;
    content: attr(text);
    top: 0;
    left: 20%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    color: #E7BC0B;
    border-right: 4px solid rgb(230, 230, 230);
    white-space: nowrap;
    /* -webkit-text-stroke: 1.5px transparent; */
    animation: type 5s linear forwards infinite;
}
header .type-text a{
    display: inline-block;
    margin: 30px;
    padding: 15px 35px;
    background: #E7BC0B;
    color: #fff;
    font-size: 1.2rem;
    transition: .5s all;
    border: 1px solid transparent;
}
header .type-text a:hover{
    color: #E7BC0B;
    background: transparent;
    border: 1px solid #E7BC0B;
}
/* scroll icon animation  */
header .type-text i{
    position: absolute;
    bottom: -20%;
    left: 50%;
    color: #fff;
    font-size: 1.5rem;
    padding: 5px;
    background-color: rgba(188, 206, 26, 0.2);
    animation: scroll-down 2s linear infinite;
}
@keyframes scroll-down{
    0%{
        bottom: -20%;
    }
    100%{
        bottom: -30%;
    }
}
/* type-text animation code  */
@keyframes type{
    0%{
        width: 0;
    }
    100%{
        width: 61.5%;
    }
}
/* Responsive devices screen code  */
@media (max-width: 490px) {
    header .type-text h2{
        font-size: 1rem;
    }
    header .type-text h2 span{
        font-size: 2rem;
    }
    header .type-text p{
        font-size: .9rem;
    }
    header .type-text a{
        font-size: .9rem;
        padding: 8px 16px;
    }
    header .type-text i{
        font-size: 14px;
    }
    @keyframes type{
        0%{
            width: 0%;
        }
        100%{
            /* left: 0; */
            width: 75%;
        }
    }
}
/* medium device screen code  */
@media (min-width:491px) and (max-width: 760px) {
    header .type-text h2{
        font-size: 1rem;
    }
    header .type-text h2 span{
        font-size: 2rem;
    }
    header .type-text p{
        font-size: .9rem;
    }
    header .type-text a{
        font-size: .9rem;
        padding: 8px 16px;
    }
    header .type-text i{
        font-size: 14px;
    }
    @keyframes type{
        0%{
            width: 0%;
        }
        100%{
            /* left: 0; */
            width: 67%;
        }
    }
}
/* large device screen code  */
@media (min-width:761px) and (max-width: 990px) {
    header .type-text h2{
        font-size: 1.2rem;
    }
    header .type-text h2 span{
        font-size: 2.5rem;
    }
    header .type-text p{
        font-size: 1rem;
    }
    header .type-text a{
        font-size: 1rem;
        padding: 10px 20px;
    }
    header .type-text i{
        font-size: 16px;
    }
    @keyframes type{
        0%{
            width: 0%;
        }
        100%{
            /* left: 0; */
            width: 62%;
        }
    }
}
/* Extra large screen device code  */
@media (min-width:991px) and (max-width: 1190px) {
    @keyframes type{
        0%{
            width: 0%;
        }
        100%{
            /* left: 0; */
            width: 76%;
        }
    }
}
/* ====header section code end====  */